*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: lato;
}

body {
    background-color: #FFFFFF;
}

/* Header and Navbar customization */
.header {
    margin-bottom: 50px;
}

.navbar {
    list-style-type: none; 
    padding-top: 50px;
    margin-right: 7.5%;
    margin-left: 7.5%;
    overflow: hidden;
}

.navbar-item {
    float: left;
}

.navbar-item a {
    display: block;
    color: black;
    padding: 14px 0px;
    font-size: 19px;
    text-decoration: none;
}


/* List-Underline classes create the underlining effect on all links */
.link-underline::after {
    content: '';
    width: 25%; height: 1px;
    display: block;
    margin-top: 0px;
    right: 0;
    background: #555555;
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
}

.link-underline:hover:after {
    width: 100%;
    left: 0;
    background: #555555;
}

.link-underline:hover {
    transition: width .3s ease;
}

/* Used to align Portfolio tag to right, may be used in future to alter design more */
.portfolio {
    float: right;
}

/* Purple and the keyframes below it used to add the color gradient behind Portfolio tag */
.purple {
  background: linear-gradient(to right, #E92BFF 20%, #4646FF 40%, #4646FF 60%, #E92BFF 80%);
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 12s linear infinite; 
}

@keyframes shine {
  to {
    background-position: 200% center; } 
}

/* Main container class to fit everything below header */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

/* Used for each individual project */
.project-container {
    display: flex;
    margin: 1% 0px;
    padding: 10px 0px;
    font-size: 19px;
    font-weight: 300;
}

/* Column-Primary and Description Header are used for the left column spacing */
.column-primary {
    width: 500px;
}

.description-header {
    font-size: 48px;
    font-weight: 300;
}

/* Video Container to space the video itself and video class to add effects to video */
.video-container {
    margin-top: 50px;
}

.video {
	-webkit-box-shadow: 4px 8px 6px -8px black;
	   -moz-box-shadow: 4px 8px 6px -8px black;
	        box-shadow: 4px 8px 6px -8px black;
}

video {
    width: 420px;
    height: 250px;
}

/* Column-Secondary classes are used for the right column spacing and styling */
.column-secondary {
    width: 500px;
    margin: 125px 50px;
}

.column-secondary p {
    line-height: 1.6;
}

/* Description-Demo and Link classes used to style links */
.description-demo {
    margin: 1% 0px;
    padding: 10px 0px;
    font-weight: 500;
    width: 120px;
    display: block;
}

.link {
    display: block;
    width: 50px;
    text-decoration: none;
    padding: 14px 0px;
    color: black;
}

@media(max-width: 800px) {
    .header {
        margin-bottom: 25px;
    }
    
    .navbar {
        list-style-type: none; 
        padding-top: 25px;
        margin-right: 3.75%;
        margin-left: 3.75%;
        overflow: hidden;
    }
    
    .navbar-item a {
        display: block;
        color: black;
        padding: 7px 0px;
        font-size: 14px;
        text-decoration: none;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding-top: 10px;
    }
    
    .project-container {
        display: inline-block;
        margin: 1% 0px;
        padding: 1% 5%;
        font-size: 14px;
        font-weight: 300;
    }
    
    .column-primary {
        width: 250px;
    }
    
    .description-header {
        font-size: 32px;
        font-weight: 300;
    }
    
    .video-container {
        margin-top: 25px;
    }
    
    .video {
        -webkit-box-shadow: 0px 0px 4px -8px black;
           -moz-box-shadow: 0px 0px 4px -8px black;
                box-shadow: 0px 0px 4px -8px black;
    }

    video {
        width: 350px;
        height: 175px;
    }
    
    .column-secondary {
        width: 90%;
        margin: 25px 0px;
    }

    .column-secondary p {
        line-height: 1.6;
    }
    
    .description-demo {
        margin: 1% 0px;
        padding: 5px 0px;
        font-weight: 500;
        width: 60px;
        display: block;
    }
    
    .link {
        display: block;
        width: 25px;
        text-decoration: none;
        padding: 7px 0px;
        color: black;
    }
}