* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: lato;
}

/*Introductory Page*/
.intro {
    height: 100vh;
    width: 100vw;
    background-color: #171717;
    padding-bottom: 96px;
}

.intro-container {
    margin: 0 auto;
    padding-top: 192px;
    padding-bottom: 192px;
    width: 512px;
}

.intro-container h1 {
    font-size: 32px;
    color: #E6FAFC;
    transition: 0.5s;
}

.intro-container h1:hover {
    text-shadow: 0px 1px 2px #E6FAFC;
}

.intro-container h2 {
    font-size: 32px;
}

.intro-container p {
    color: #e6fafc;
    text-align: right;
    width: 512px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.intro-container hr {
    color: #E6FAFC;
    margin-top: 24px;
    margin-bottom: 24px;
}

/*Two colors for text spans*/
.blue {
    color: hsla(193, 84%, 50%, 1);
}

.red {
    color: #EB5160;
}

/*Down Arrow*/
.down_arrow {
    width: 100%;
    color: #14BDEB;
    text-align: center;
    transition: 0.5s;
}

.down_arrow:hover {
    cursor: pointer;
    text-shadow: 0px 1px 4px #E6FAFC;
}

/*Mobile Menu*/
label {
    padding: 0 20px 0 0;
    background-color: #171717;
    color: #14bdeb;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle{
    display: none;    
}

.mobile {
    display: none;
}

/*Navbar*/
.nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #171717;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
}

.navbar hr {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.nav-link {
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 16px 12px;
    text-decoration: none;
}

a span {
    padding-left: 2px;
}

.nav-link:hover {
    background-color: #14bdeb;
    color: #171717;
}

.active {
    background-color: #14bdeb;
    color: #171717;
}

.name {
    color: #E6FAFC;
    transition: 0.5s;
}

.name:hover {
    background-color: #171717;
    color: #e6fafc;
    text-shadow: 0px 1px 4px #E6FAFC;
}

/*Main Container for all sections*/
.main-container {
    width: 100vw;
    background-color: #FFFFFF;
}

/*Job Status container and styling*/
.job-status {
    margin: 0 auto;
    padding: 128px 0px;
    width: 100%;
    text-align: center;
}

.job-status p {
    font-size: 24px;
    font-weight: 500;
}

.reset {
    font-size: 16px;
    padding: 4px 6px;
    border-radius: 8px;
    border: 1px solid hsla(193, 100%, 75%);
    font-weight: 700;
    margin-left: 256px;
    align-items: baseline;
    transition: 0.5s;
}

.reset:hover {
    cursor: pointer;
    background-color: hsla(193, 100%, 75%);
}

.off {
    display: none;
}

.on {
    display: inline;
}

.blue-line {
    width: 100%;
    border-bottom: 1px solid #14bdeb;
    transition: 0.3s;
    cursor: pointer;
}

.blue-line:hover {
    border-bottom: 3px solid #14bdeb;
}

.red-back {
    width: 100%;
    border-bottom: 1px solid #171717;
}

.red-line {
    width: 100%;
    border-bottom: 1px solid #EB5160;
}

.arrow {
    padding-left: 5px;
    font-size: 18px;
}

.arrow:hover {
    cursor: pointer;
    color: #14bdeb;
    transition: 0.5s;
}

.project-item {
    text-decoration: none;
    color: black;
}

.project-item .tooltip {
    visibility: hidden;
    width: 120px;
    font-size: 16px;
    border-radius: 8px;
    color: black;
    background-color: hsla(193, 100%, 75%);
    padding: 4px;
  
  /* Position the tooltip */
    position: relative;
    margin-left: 12px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
}

.project-item:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.project-item:hover {
    transition: 0.3s;
    cursor: pointer;
}

.main-row {
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
}

/*About Tag*/
.left-container {
    flex-basis: 50%;
    text-align: right;
    padding: 0 24px;
}

.left-container h2 {
    font-size: 24px;
    padding: 24px 0 24px 0;
    font-weight: 900;
    text-decoration: underline;
}

/*All right side containers*/
.right-container {
    flex-basis: 50%;
    padding: 0 24px;
}

.right-container h2 {
    font-size: 24px;
    padding: 24px 0 24px 0;
    font-weight: 900;
}

.right-container p {
    width: 384px;
    padding-bottom: 48px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.8;
    word-spacing: 2px;
    letter-spacing: 0px;
}

/*Styling for all Ordered Lists*/
ol {
    padding-left: 48px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.8;
    word-spacing: 2px;
    letter-spacing: 0px;
}

ol > li {
    padding: 4px 4px;
}

#skills {
    padding-top: 64px;
}

/*Unordered List stylings*/
.list {
    padding-left: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.8;
    word-spacing: 2px;
    letter-spacing: 0px;
}

.list > li {
    padding: 4px 4px;
}

/*Contact Section*/
.contact {
    height: 100%;
    margin: 256px 0 auto auto;
    padding: 128px 0px;
    background-color: hsla(193, 100%, 50%);
}

.contact p {
    color: hsla(213, 100%, 10%, 1);
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.8;
    word-spacing: 2px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #171717;
}

@media(max-width: 768px) {
    .intro {
        width: 100%;
    }

    .intro-container {
        padding-top: 128px;
        padding-bottom: 128px;
        width: 256px;
    }

    .intro-container h2 {
        font-size: 32px;
    }

    .intro-container p {
        text-align: left;
        width: 256px;
        font-size: 14px;
        line-height: 1.8;
        word-spacing: 2px;
        letter-spacing: 0px;
    }
    
    label {
        display: block;
        text-align: right;
        cursor: pointer;
    }
    
    .navbar {
        display: none;
        text-align: left;
        width: 100%;
        animation: openmenu;
        animation-duration: 0.5s;
        box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
    }
    
    @keyframes openmenu {
        from{opacity: 0}
        to{opacity: 1}
    }

    .left {
        float: none;
    }

    .right {
         float: none;
    }

    .nav-link {
        display: block;
        text-align: left;
        padding-left: 25px;
    }

    a span {
        padding-left: 0px;
    }

    a .fab {
        display: none;
    }
    
    .mobile {
        display: inline;
    }
    
    #toggle:checked + .navbar {
        display: block;
    }
    
    .navbar hr {
        display: block;
        width: 100%;
    }

    .main-container {
        width: 100%;
    }

    .main-row {
        display: flex;
        flex-direction: column;
    }

    .left-container {
        flex-basis: 100%;
        text-align: left;
    }

    .right-container {
        flex-basis: 100%;
    }

    .right-container p {
        width: 256px;
        font-size: 16px;
        word-spacing: 1px;
        letter-spacing: 0px;
    }
    
    .project-item .tooltip {
        visibility: visible;
        width: 256px;
        font-size: 12px;
        border-radius: 8px;
        color: black;
        background-color: hsla(193, 100%, 75%);
        padding: 2px;

      /* Position the tooltip */
        position: relative;
        margin-left: 4px;
        opacity: 1;
        transition: opacity 0.5s;
        z-index: 1;
    }
    
    .project-item {
        display: flex;
        flex-direction: column;
    }

    ol {
        font-size: 16px;
        word-spacing: 1px;
        letter-spacing: 0px;
    }

    .list {
        font-size: 16px;
        word-spacing: 1px;
        letter-spacing: 0px;
    }

    .contact {
        margin: 96px 0 auto auto;
        padding: 96px 0px;
    }

    .contact p {
        font-size: 18px;
        word-spacing: 1px;
    }
}
