* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: lato;
}

/*Introductory Page*/
.intro {
    height: 100vh;
    width: 100vw;
    background-color: #171717;
    padding-bottom: 100px;
}

.intro-container {
    margin: 0 auto;
    padding-top: 15%;
    padding-bottom: 15%;
    width: 510px;
}

.intro-container h1 {
    font-size: 36px;
    color: #E6FAFC;
    transition: 0.5s;
}

.intro-container h1:hover {
    text-shadow: 0px 1px 2px #E6FAFC;
}

.intro-container h2 {
    font-size: 36px;
}

.intro-container p {
    color: #e6fafc;
    text-align: right;
    width: 510px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.intro-container hr {
    color: #E6FAFC;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Two colors for text spans*/
.blue {
    color: #14BDEB;
}

.red {
    color: #EB5160;
}

/*Down Arrow*/
.down_arrow {
    width: 100%;
    color: #14BDEB;
    text-align: center;
    transition: 0.5s;
}

.down_arrow:hover {
    cursor: pointer;
    text-shadow: 0px 1px 4px #E6FAFC;
}

/*Mobile Menu*/
label {
    padding: 0 20px 0 0;
    background-color: #171717;
    color: #14bdeb;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle{
    display: none;    
}

.mobile {
    display: none;
}

/*Navbar*/
.nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #171717;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
}

.navbar hr {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

li a {
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 18px 14px;
    text-decoration: none;
}

a span {
    padding-left: 2px;
}

li a:hover {
    background-color: #14bdeb;
    color: #171717;
}

.active {
    background-color: #14bdeb;
    color: #171717;
}

.name {
    color: #E6FAFC;
    transition: 0.5s;
}

.name:hover {
    background-color: #171717;
    color: #e6fafc;
    text-shadow: 0px 1px 4px #E6FAFC;
}

/*Main Container for all sections*/
.main-container {
    width: 100vw;
    background-color: #FFFFFF;
}

/*Job Status container and styling*/
.job-status {
    margin: 0 auto;
    padding: 150px 0px;
    width: 100%;
    text-align: center;
}

.job-status p {
    font-size: 24px;
    font-weight: 500;
}

.blue-line {
    width: 100%;
    border-bottom: 1px solid #14bdeb;
}

.red-back {
    width: 100%;
    border-bottom: 1px solid #171717;
}

.main-row {
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
}

/*About Tag*/
.left-container {
    flex-basis: 50%;
    text-align: right;
    padding: 0 25px;
}

.left-container h2 {
    padding: 25px 0 25px 0;
    font-weight: 900;
    text-decoration: underline;
}

/*All right side containers*/
.right-container {
    flex-basis: 50%;
    padding: 0 25px;
}

.right-container h2 {
    padding: 25px 0 25px 0;
    font-weight: 900;
}

.right-container p {
    width: 350px;
    padding-bottom: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.8;
    word-spacing: 2px;
    letter-spacing: 1px;
}

/*Styling for all Ordered Lists*/
ol {
    padding-left: 50px;
    padding-bottom: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    word-spacing: 2px;
    letter-spacing: 1px;
}

ol > li {
    padding: 5px 5px;
}

#skills {
    padding-top: 75px;
}

/*Unordered List stylings*/
.list {
    padding-left: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.8;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.list > li {
    padding: 5px 5px;
}

/*Contact Section*/
.contact {
    height: 100%;
    margin: 250px 0 auto auto;
    padding: 150px 0px;
    background-color: #14bdeb;
}

.contact p {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.8;
    word-spacing: 2px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #171717;
}

@media(max-width: 768px) {
    .intro {
        width: 100%;
    }

    .intro-container {
        padding-top: 30%;
        padding-bottom: 50%;
        width: 310px;
    }

    .intro-container h2 {
        font-size: 32px;
    }

    .intro-container p {
        width: 310px;
        font-size: 14px;
        line-height: 1.8;
        word-spacing: 2px;
        letter-spacing: 1px;
    }
    
    label {
        display: block;
        text-align: right;
        cursor: pointer;
    }
    
    .navbar {
        display: none;
        text-align: left;
        width: 100%;
        animation: openmenu;
        animation-duration: 0.5s;
    }
    
    @keyframes openmenu {
        from{opacity: 0}
        to{opacity: 1}
    }

    .left {
        float: none;
    }

    .right {
         float: none;
    }

    li a {
        display: block;
        text-align: left;
        padding-left: 25px;
    }

    a span {
        padding-left: 0px;
    }

    a .fab {
        display: none;
    }
    
    .mobile {
        display: inline;
    }
    
    #toggle:checked + .navbar {
        display: block;
    }
    
    .navbar hr {
        display: block;
        width: 100%;
    }

    .main-container {
        width: 100%;
    }

    .main-row {
        display: flex;
        flex-direction: column;
    }

    .left-container {
        flex-basis: 100%;
        text-align: left;
    }

    .right-container {
        flex-basis: 100%;
    }

    .right-container p {
        width: 300px;
        font-size: 16px;
        word-spacing: 1px;
        letter-spacing: 0px;
    }

    ol {
        font-size: 16px;
        word-spacing: 1px;
        letter-spacing: 0px;
    }

    .list {
        font-size: 16px;
        word-spacing: 1px;
        letter-spacing: 0px;
    }

    .contact {
        margin: 100px 0 auto auto;
        padding: 100px 0px;
    }

    .contact p {
        font-size: 18px;
        word-spacing: 1px;
    }
}
